.wrapper {
  padding: 50px 0 0 80px;
  position: relative;
}

.searchBoxWrapper {
  border-bottom: solid 1px rgba(255, 255, 255, 0.45);;
}

.searchBox {
  border: none;
  outline: none;
  margin-top: 30px;
  width: 100%;
  color: #FFFFFF;
  font-size: 100px;
  font-weight: 700;
  background: none;
}

.searchHint {
  color: #c3c3c3;
  font-size: 16px;
}

.gistWrapper {
  display: flex;
  flex-wrap: wrap;
}

.gistCount {
  font-size: 22px;
  position: relative;
}

.gistCountHeading {
  display: inline-block;
  margin: 0;
}

.gistCount:after {
  content: '';
  position: absolute;
  left: 140px;
  right: 0;
  height: 1px;
  background: rgba(255, 255, 255, 0.45);
  top: 50%;
}