.group {
    position: relative;
    width: 100%;
}

.input {
    color: #000;
    font-size: 12px;
    padding: 0 25px 0 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #d2d2d2;
    background: none;
    min-height: 30px;
}

.input:focus {
    outline: none;
}

.input.paddingRight25px {
    padding-right: 25px;
}

.label {
    color: #B2B3B5;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.3s cubic-bezier(0.25, 0.1, 0, 0.23) all;
}

.input:focus ~ .label {
    transform: translateY(-30px) translateX(-5px) scale(0.9);

}

.input:focus ~ .label > .icon:before {
    transition: 0.3s cubic-bezier(0.25, 0.1, 0, 0.23) all;
    font-size: 12px !important;
}

.hasValue {
    transform: translateY(-30px) translateX(-5px) scale(0.9);

}

.hasValue > .icon:before {
    transition: 0.3s cubic-bezier(0.25, 0.1, 0, 0.23) all;
    font-size: 12px !important;
}

.input:focus ~ .helperText {
    opacity: 1;
}

.input:valid ~ .helperText {
    opacity: 0;
}

.icon:before {
    margin-left: 0 !important;
    font-size: 14px !important;
    margin-right: 5px;
}

.leftIcon {
    position: absolute;
    top: 10px;
    margin-left: 5px;
    left: 0;
}

.leftIcon:before {
    color: #efefef;
    font-size: 16px;
}

.rightIcon {
    position: absolute;
    top: 10px;
    margin-left: 5px;
    right: 0;
}

.placeholder {
    opacity: 0;
    position: absolute;
    bottom: 10px;
    left: 35px;
    z-index: -1;
}

